<!--内容区域(用于tab选项卡插件)-->
<div class="bsa-content">
  <div data-bsa-toggle="iframe"
       data-click-close-sidebar="true"
       data-sidebar-toggle="true"
       data-qt-defaultTabs='[{"url":"welcome.html","title":"首页","closable":false}]'
       data-qt-id="qtab"
       data-qt-toolbar-dropdown-enable="true"
       data-qt-toolbar-refresh-enable="true"
       data-qt-tab-contextmenu-enable="true"
       data-qt-tab-timeout-enable="false"
       data-qt-tab-remember="true"
       data-qt-tab-maxNum="4"
       data-qt-tab-loading-enable="true"
       data-qt-tab-dragSort="true"
  ></div>
</div>

