@for $i from 1 through  20 {
  .bsa-w-#{$i * 5} {
    width: unquote($i * 5 + "px") !important;
  }
}


@for $i from 1 through  20 {
  .bsa-h-#{$i * 5} {
    height: unquote($i * 5 + "px") !important;
  }
}

@for $i from 1 through  20 {
  .bsa-wh-#{$i * 5} {
    width: unquote($i * 5 + "px") !important;
    height: unquote($i * 5 + "px") !important;
  }
}
