.#{$lts-prefix}footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: var(--#{$lts-prefix}sidebar-width);
  z-index: 3;
  box-sizing: border-box;
  height: var(--#{$lts-prefix}footer-height);
  padding: 7px;
  font-size: 14px;
  color: var(--#{$prefix}body-color);
  text-align: center;
  background-color: var(--#{$prefix}body-bg);
  border-top: var(--#{$prefix}border-width) solid rgb(0 0 0 / 12%);

  @include media-breakpoint-down(lg) {
    left: 0;
  }
}
