@use 'sass:list';

.#{$lts-prefix}header {
  position: fixed;
  top: 0;
  right: 0;
  left: var(--#{$lts-prefix}sidebar-width);
  z-index: 80;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--#{$lts-prefix}header-height);
  padding: 0 12px;
  margin: 0;
  list-style: none;
  background-color: var(--#{$prefix}body-bg);
  box-shadow: 0 1px 1px -1px rgb(var(--#{$prefix}dark-rgb) 0.25);

  // 移动端的时候left为0
  @include media-breakpoint-down(lg) {
    left: 0;
    padding: 0;
  }

  // 每个li
  > li {
    height: inherit;
  }

  .dropdown {
    // lg屏幕下取消定位否则无法全屏
    @include media-breakpoint-down(lg) {
      position: static !important;
    }
  }

  // 头部导航的下拉菜单
  .dropdown-menu {
    max-width: 360px;
    border: 0;

    @include border-radius($border-radius-lg);

    // 阴影效果
    box-shadow: 0 0.125rem 0.25rem
      rgb(var(--#{$prefix}secondary-color-rgb) 0.075);

    @include media-breakpoint-down(lg) {
      min-width: 100%;
    }

    // 下拉菜单的卡片
    .card {
      min-width: 300px;
      max-height: 280px;
      border: 0;

      @include media-breakpoint-down(lg) {
        min-width: 100%;
      }

      .card-body {
        overflow: hidden;
      }
    }

    // 下拉菜单的item项目
    .dropdown-item {
      display: block;
      padding: 8px 20px;
      overflow: hidden;

      @include text-ellipsis;

      // 激活状态背景色也保持不变
      &:active {
        color: var(--#{$prefix}body-color);
        background-color: var(--#{$prefix}tertiary-bg);
      }
    }
  }

  // 侧边栏的触发按器
  .#{$lts-prefix}sidebar-toggler {
    display: none;

    // lg屏幕下显示toggler
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
}

// 主题色
.#{$lts-prefix}theme-switcher-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;

  input[type='checkbox'] {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    cursor: pointer;
    visibility: hidden;

    &::after {
      position: absolute;
      width: 30px;
      height: 30px;
      visibility: visible;
      content: ' ';
      background-color: #ccc;
      border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);

      @include border-radius(50%);
    }

    &:checked::after {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      font-weight: 700;
      color: #fff;
      content: '✓';
    }

    &[value='light']::after {
      background-color: #fff;
    }

    &[value='light']:checked::after {
      color: var(--#{$prefix}body-color);
    }

    &[value='dark']::after {
      background-color: #212529;
    }

    &[value='indigo']::after {
      background-color: #6610f2;
    }

    &[value='green']::after {
      background-color: #198754;
    }

    &[value='blue']::after {
      background-color: #0d6efd;
    }

    &[value='yellow']::after {
      background-color: #ffc107;
    }

    &[value='orange']::after {
      background-color: #fd7e14;
    }

    &[value='teal']::after {
      background-color: #20c997;
    }

    &[value='cyan']::after {
      background-color: #0dcaf0;
    }

    &[value='pink']::after {
      background-color: #d63384;
    }

    &[value='red']::after {
      background-color: #dc3545;
    }
  }
}

.#{$lts-prefix}header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  padding: 0 16px;
  font-size: 20px;

  // color: var(--#{$lts-prefix}header-item-color);
  color: var(--#{$prefix}body-color);
  cursor: pointer;
  background: inherit;

  // lg屏幕下每个item的字体和间距再小一点，保证可以展示头部所有的项目
  @include media-breakpoint-down(lg) {
    padding: 0 20px;
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 14px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 12px;
  }

  @include media-breakpoint-down(three-four-two) {
    padding: 0 8px;
  }

  // 用户区域
  .#{$lts-prefix}user-area {
    display: flex;
    align-items: center;

    // 用户头像
    .#{$lts-prefix}user-avatar {
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      overflow: hidden;
      user-select: none;

      @include border-radius(50%);

      // lg屏幕下用户头像再放小一点
      @include media-breakpoint-down(lg) {
        width: 35px;
        height: 35px;
      }

      // 小于342像素时
      @include media-breakpoint-down(three-four-two) {
        width: 30px;
        height: 30px;
      }
    }

    // 用户详情
    .#{$lts-prefix}user-details {
      display: block;
      flex-shrink: 0;
      max-width: 150px;
      margin-left: 8px;

      // xl设备下直接隐藏用户详情只展示头像
      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }
}
