// 遮罩层在lg下才生效
@include media-breakpoint-down(lg) {
  .#{$lts-prefix}mask {
    position: fixed;
    inset: 0;
    z-index: 90;
    cursor: move;
    background-color: rgb(0 0 0 / 60%);

    @include transition(all $lts-transition-speed ease-out);
  }
}
