node_modules
.idea
/.vscode
*.DS_Store
*.log


#sweetalert2
static/lib/sweetalert2/*
!static/lib/sweetalert2/dist


#bootstrap-table
static/lib/bootstrap-table/*
!static/lib/bootstrap-table/dist


#moment
static/lib/moment/*
!static/lib/moment/dist
!static/lib/moment/locale
!static/lib/moment/min




#select2-bootstrap-5-theme
static/lib/select2-bootstrap-5-theme/*
!static/lib/select2-bootstrap-5-theme/dist


#bootstrap
static/lib/bootstrap/*
!static/lib/bootstrap/dist

#echart.js
static/lib/echarts/*
!static/lib/echarts/dist

#chart.js
static/lib/chart.js/*
!static/lib/chart.js/dist

#jquery
static/lib/jquery/*
!static/lib/jquery/dist


#tinymce
static/lib/tinymce/*
!static/lib/tinymce/icons
!static/lib/tinymce/langs
!static/lib/tinymce/models
!static/lib/tinymce/plugins
!static/lib/tinymce/skins
!static/lib/tinymce/themes
!static/lib/tinymce/tinymce.js
!static/lib/tinymce/tinymce.min.js

#croppie
static/lib/croppie/*
!static/lib/croppie/croppie.css
!static/lib/croppie/croppie.js
!static/lib/croppie/croppie.min.js




#select2
static/lib/select2/*
!static/lib/select2/dist

#dropzone
static/lib/dropzone/*
!static/lib/dropzone/dist


