node_modules
.idea
/.vscode
*.DS_Store
*.log


#plugins

#bootstrap-icons
plugins/bootstrap-icons/*
!/plugins/bootstrap-icons/font


#select2-bootstrap-5-theme
plugins/select2-bootstrap-5-theme/*
!/plugins/select2-bootstrap-5-theme/dist


#bootstrap
plugins/bootstrap/*
!/plugins/bootstrap/dist

#echart.js
plugins/echarts/*
!/plugins/echarts/dist

#chart.js
plugins/chart.js/*
!/plugins/chart.js/dist

#jquery
plugins/jquery/*
!/plugins/jquery/dist

#tinymce
plugins/tinymce/*
!/plugins/tinymce/icons
!/plugins/tinymce/langs
!/plugins/tinymce/models
!/plugins/tinymce/plugins
!/plugins/tinymce/skins
!/plugins/tinymce/themes
!/plugins/tinymce/tinymce.js
!/plugins/tinymce/tinymce.min.js

#croppie
plugins/croppie/*
!/plugins/croppie/croppie.css
!/plugins/croppie/croppie.js
!/plugins/croppie/croppie.min.js


#ztree
plugins/@ztree/ztree_v3/*
!/plugins/@ztree/ztree_v3/css
!/plugins/@ztree/ztree_v3/js

#select2
plugins/select2/*
!/plugins/select2/dist

#dropzone
plugins/dropzone/*
!/plugins/dropzone/dist


