# 工程文件
.idea
/.vscode


# 生产目录
dist/


# Node
node_modules/

# 系统或者日志文件
*.DS_Store
*.log




# 缓存文件
.cache
**/.vitepress/cache


# 临时目录(比如css文件编译中转,或者用于astro的public静态资源目录)
.tmp


# astro相关
.astro/
# 不需要的类型
**/env.d.ts

# vercel部署
.vercel
