html.run{
    overflow: hidden !important;
}
html.run body{
    overflow: hidden !important;
}
html.run .app-nav.no-badge{
    display: none !important;
}

.d-block{
    display: block;
}
.abcd{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999999;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.abcd .header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}
.abcd .body{
    flex-grow: 1;
}

.abcd .body iframe{
    border: none;
}
.abcd .header button{
   margin-right: 12px;
}