---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout childpage backtotop>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="d-flex align-items-center justify-content-center">
          <div style="width: 400px;max-width: 100%;margin-top: 12vh;">
            <div class="lts-error-code">403</div>
            <div class="lts-error-text">您没有权限访问该页面</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
