---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout childpage backtotop>
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-12">
        <div class="card border-0 shadow-sm">
          <div class="card-header bg-body">
            <h4>你好新朋友，感谢使用 adminlts</h4>
            <p class="mb-0 text-secondary">2023-6-18 01:20:00</p>
          </div>
          <div class="card-body">
            基于bootstrap5
            设计的后台模板，从1.x版本的发布，到后续2.x的埋头丰富，逐步用行动赢得了许多人的关注。目前
            adminlts
            在现在全是vue的时代下这种纯html模板开源且活跃的项目已经越来越少的情况下，几乎已成为开发者的不二选择。这得益于
            adminlts本身对日常开发中的常用页面的累积外，
            更得益于bootstrap本身具备的强大生态和bootstrap官方团队的付出。让后台管理开发变得更加简单纯粹,搭载后端模板引擎即可快速上手，adminlts让您在快速的后台管理系统的构件中同时也保持极简的的视觉体验
          </div>
          <div class="card-footer bg-body">
            <button class="btn btn-light" onclick="window.history.back()"
              >返回上一级</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
