---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout childpage backtotop>
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col">
        <div class="card border-0 shadow-sm">
          <div class="card-header bg-body">多级菜单演示页面</div>
          <div class="card-body">
            当前url地址: <span class="url"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script is:inline slot="js">
    $(function () {
      $(".url").text(
        window.location.href.substring(
          window.location.href.lastIndexOf("/") + 1,
          window.location.href.length,
        ),
      )
    })
  </script>
</BaseLayout>
