.bsa-error-code {
  font-size: 7rem;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--bs-light-bg-subtle), 6px 6px 0 var(--bs-light-text);
  color: var(--bs-light-text);
  word-break: break-all;
  text-align: center;
}