.back-to-top {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 26px;
    color: #fff;
    position: fixed;
    border-radius: 10px;
    bottom: 20px;
    right: 12px;
    /*background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);*/
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
    z-index: 5;
    cursor: pointer;
}


.bsa-switcher-wrapper {
    width: 280px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1032;
    background: #fff;
    border-left: 0 solid #d2d2d2;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .13);
    transform: translateX(100%);
    transition: 0.3s transform;
}

.bsa-switcher-wrapper.open {
    transform: translateX(0px);
}



.bsa-switcher-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    /*background: #0d6efd;*/
    /*background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);*/
    /*background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);*/
    /*background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);*/
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .13);
    color: #fff;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 50%;
    right: 100%;
    cursor: pointer;
}

.bsa-switcher-header {
    height: 80px;
    background: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4d5259;
    padding: 0 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.bsa-switcher-header-title {
    margin-bottom: 0;
    line-height: 1.5;
}


.bsa-switcher-body {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 20px;


    /*-ms-overflow-style: none;*/
    /*scrollbar-width: none;*/
}

.bsa-switcher-body::-webkit-scrollbar {
    /*display: none;*/
}

.bsa-switcher-body {
    direction:ltr;
}

@keyframes fadenum {
    100% {
        transform: rotate(360deg);
    }
}

.bsa-switcher-btn > i {
    animation: fadenum 2s linear infinite;
}


.bsa-headercolor-wrap {
    margin-bottom: 16px;
}


.bsa-headercolor-wrap div[class^=headercolor],
.bsa-sidebarcolor-wrap div[class^=sidebarcolor] {
    width: 45px;
    height: 45px;
    background-color: #f4f2f2;
    border-radius: 10px;
    cursor: pointer;
}

.bsa-headercolor-wrap .headercolor1 {
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);

}

.bsa-headercolor-wrap .headercolor2 {
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);

}

.bsa-headercolor-wrap .headercolor3 {
    background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);

}

.bsa-headercolor-wrap .headercolor4 {
    background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
}

.bsa-headercolor-wrap .headercolor5 {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);

}

.bsa-headercolor-wrap .headercolor6 {
    background-image: linear-gradient( 135deg, #A0FE65 10%, #FA016D 100%);

}

.bsa-headercolor-wrap .headercolor7 {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);

}

.bsa-headercolor-wrap .headercolor8 {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);

}



html.headercolor1 .topbar {
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
}

html.headercolor2 .topbar {
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);

}

html.headercolor3 .topbar {
    background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
}

html.headercolor4 .topbar {
    background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
}

html.headercolor5 .topbar {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

html.headercolor6 .topbar {
    background-image: linear-gradient( 135deg, #A0FE65 10%, #FA016D 100%);
}

html.headercolor7 .topbar {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}

html.headercolor8 .topbar {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}


/*其它的一些调整*/
html.color-header .topbar .mobile-toggle-menu {
    color: #fff !important;
}

html.color-header .topbar .top-menu ul a {
    color: #fff
}

html.color-header .topbar .user-box .bsm-user-name,
html.color-header .topbar .user-box .bsm-user-role {
    color: #fff
}





.bsa-sidebarcolor-wrap .sidebarcolor1 {
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
}

.bsa-sidebarcolor-wrap .sidebarcolor2 {
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
}

.bsa-sidebarcolor-wrap .sidebarcolor3 {
    background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
}

.bsa-sidebarcolor-wrap .sidebarcolor4 {
    background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
}

.bsa-sidebarcolor-wrap .sidebarcolor5 {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

.bsa-sidebarcolor-wrap .sidebarcolor6 {
    background-image: linear-gradient( 135deg, #A0FE65 10%, #FA016D 100%);
}

.bsa-sidebarcolor-wrap .sidebarcolor7 {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}

.bsa-sidebarcolor-wrap .sidebarcolor8 {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}



/*改变背景色*/
html.color-sidebar.sidebarcolor1 .bsm-sidebar {
    /*background-image: url(../images/1.png);*/
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);

}

html.color-sidebar.sidebarcolor2 .bsm-sidebar {
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
}

html.color-sidebar.sidebarcolor3 .bsm-sidebar {
    background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
}

html.color-sidebar.sidebarcolor4 .bsm-sidebar {
    background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
}

html.color-sidebar.sidebarcolor5 .bsm-sidebar {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

html.color-sidebar.sidebarcolor6 .bsm-sidebar {
    background-image: linear-gradient( 135deg, #A0FE65 10%, #FA016D 100%);
}

html.color-sidebar.sidebarcolor7 .bsm-sidebar {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}

html.color-sidebar.sidebarcolor8 .bsm-sidebar {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}



/*其它的一些更改*/

html.color-sidebar .bsm-sidebar {
    background-size: cover;
    /*固定背景图片的方式  scroll local */
    background-attachment: fixed;
    /*背景图的起始位置*/
    background-position: center;
    background-repeat: no-repeat;
}

html.color-sidebar .bsm-sidebar .logo-icon {
    filter: invert(1) grayscale(100%) brightness(200%);
}


html.color-sidebar .bsm-sidebar .bsm-sidebar-header {
    background-color: transparent;
    border-right: 1px solid #e4e4e400;
    border-bottom: 1px solid rgb(255 255 255 / 15%);
}



html.color-sidebar .bsm-sidebar .bsm-sidebar-header .logo-text {
    color: #fff;
}




html.color-sidebar .bsm-sidebar .bsm-sidebar-body a:active,
html.color-sidebar .bsm-sidebar .bsm-sidebar-body a:focus,
html.color-sidebar .bsm-sidebar .bsm-sidebar-body a:hover {
    color: #fff;
    background: rgb(255 255 255 / 18%);
}



/*背景色*/
html.color-sidebar .bsm-sidebar .bsm-sidebar-body ul {
    border: 1px solid #ffffff00;
    background: rgb(255 255 255 / 8%);
}

/*a链接色*/
html.color-sidebar .bsm-sidebar .bsm-sidebar-body a {
    color: rgb(255 255 255 / 85%);
}

