// scss-docs-start theme-text-cyan-variables
$primary-text-emphasis-cyan: tint-color($primary, 40%) !default;
$secondary-text-emphasis-cyan: tint-color($secondary, 40%) !default;
$success-text-emphasis-cyan: tint-color($success, 40%) !default;
$info-text-emphasis-cyan: tint-color($info, 40%) !default;
$warning-text-emphasis-cyan: tint-color($warning, 40%) !default;
$danger-text-emphasis-cyan: tint-color($danger, 40%) !default;
$light-text-emphasis-cyan: $cyan-100 !default;
$dark-text-emphasis-cyan: $cyan-300 !default;

// scss-docs-end theme-text-cyan-variables

// scss-docs-start theme-bg-subtle-cyan-variables
$primary-bg-subtle-cyan: shade-color($primary, 80%) !default;
$secondary-bg-subtle-cyan: shade-color($secondary, 80%) !default;
$success-bg-subtle-cyan: shade-color($success, 80%) !default;
$info-bg-subtle-cyan: shade-color($info, 80%) !default;
$warning-bg-subtle-cyan: shade-color($warning, 80%) !default;
$danger-bg-subtle-cyan: shade-color($danger, 80%) !default;
$light-bg-subtle-cyan: $cyan-800 !default;
$dark-bg-subtle-cyan: mix($cyan-800, $black) !default;

// scss-docs-end theme-bg-subtle-cyan-variables

// scss-docs-start theme-border-subtle-cyan-variables
$primary-border-subtle-cyan: shade-color($primary, 40%) !default;
$secondary-border-subtle-cyan: shade-color($secondary, 40%) !default;
$success-border-subtle-cyan: shade-color($success, 40%) !default;
$info-border-subtle-cyan: shade-color($info, 40%) !default;
$warning-border-subtle-cyan: shade-color($warning, 40%) !default;
$danger-border-subtle-cyan: shade-color($danger, 40%) !default;
$light-border-subtle-cyan: $cyan-700 !default;
$dark-border-subtle-cyan: $cyan-800 !default;

// scss-docs-end theme-border-subtle-cyan-variables

$body-color-cyan: $cyan-500 !default;
$body-bg-cyan: $cyan-900 !default;
$body-secondary-color-cyan: rgba($body-color-cyan, 0.75) !default;
$body-secondary-bg-cyan: $cyan-800 !default;
$body-tertiary-color-cyan: rgba($body-color-cyan, 0.5) !default;
$body-tertiary-bg-cyan: mix($cyan-800, $cyan-900, 50%) !default;
$body-emphasis-color-cyan: $white !default;
$border-color-cyan: $cyan-700 !default;
$border-color-translucent-cyan: rgba($white, 0.15) !default;
$headings-color-cyan: inherit !default;
$link-color-cyan: tint-color($primary, 40%) !default;
$link-hover-color-cyan: shift-color(
  $link-color-cyan,
  -$link-shade-percentage
) !default;
$code-color-cyan: tint-color($code-color, 40%) !default;

//
// Forms
//

$form-select-indicator-color-cyan: $body-color-cyan !default;
$form-select-indicator-cyan: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-cyan}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;
$form-switch-color-cyan: rgba($white, 0.25) !default;
$form-switch-bg-image-cyan: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-cyan}'/></svg>") !default;

// scss-docs-start form-validation-colors-cyan
$form-valid-color-cyan: $green-300 !default;
$form-valid-border-color-cyan: $green-300 !default;
$form-invalid-color-cyan: $red-300 !default;
$form-invalid-border-color-cyan: $red-300 !default;

// scss-docs-end form-validation-colors-cyan

//
// Accordion
//

$accordion-icon-color-cyan: $primary-text-emphasis-cyan !default;
$accordion-icon-active-color-cyan: $primary-text-emphasis-cyan !default;
$accordion-button-icon-cyan: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-cyan}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon-cyan: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-cyan}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;

// scss-docs-end sass-cyan-mode-vars
