// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-orange.scss` and adding the variables you need.

//
// Global colors
//

// scss-docs-start sass-orange-mode-vars
// scss-docs-start theme-text-orange-variables
$primary-text-emphasis-orange: tint-color($primary, 40%) !default;
$secondary-text-emphasis-orange: tint-color($secondary, 40%) !default;
$success-text-emphasis-orange: tint-color($success, 40%) !default;
$info-text-emphasis-orange: tint-color($info, 40%) !default;
$warning-text-emphasis-orange: tint-color($warning, 40%) !default;
$danger-text-emphasis-orange: tint-color($danger, 40%) !default;
$light-text-emphasis-orange: $orange-100 !default;
$dark-text-emphasis-orange: $orange-300 !default;

// scss-docs-end theme-text-orange-variables

// scss-docs-start theme-bg-subtle-orange-variables
$primary-bg-subtle-orange: shade-color($primary, 80%) !default;
$secondary-bg-subtle-orange: shade-color($secondary, 80%) !default;
$success-bg-subtle-orange: shade-color($success, 80%) !default;
$info-bg-subtle-orange: shade-color($info, 80%) !default;
$warning-bg-subtle-orange: shade-color($warning, 80%) !default;
$danger-bg-subtle-orange: shade-color($danger, 80%) !default;
$light-bg-subtle-orange: $orange-800 !default;
$dark-bg-subtle-orange: mix($orange-800, $black) !default;

// scss-docs-end theme-bg-subtle-orange-variables

// scss-docs-start theme-border-subtle-orange-variables
$primary-border-subtle-orange: shade-color($primary, 40%) !default;
$secondary-border-subtle-orange: shade-color($secondary, 40%) !default;
$success-border-subtle-orange: shade-color($success, 40%) !default;
$info-border-subtle-orange: shade-color($info, 40%) !default;
$warning-border-subtle-orange: shade-color($warning, 40%) !default;
$danger-border-subtle-orange: shade-color($danger, 40%) !default;
$light-border-subtle-orange: $orange-700 !default;
$dark-border-subtle-orange: $orange-800 !default;

// scss-docs-end theme-border-subtle-orange-variables

$body-color-orange: $orange-500 !default;
$body-bg-orange: $orange-900 !default;
$body-secondary-color-orange: rgba($body-color-orange, 0.75) !default;
$body-secondary-bg-orange: $orange-800 !default;
$body-tertiary-color-orange: rgba($body-color-orange, 0.5) !default;
$body-tertiary-bg-orange: mix($orange-800, $orange-900, 50%) !default;
$body-emphasis-color-orange: $white !default;
$border-color-orange: $orange-700 !default;
$border-color-translucent-orange: rgba($white, 0.15) !default;
$headings-color-orange: inherit !default;
$link-color-orange: tint-color($primary, 40%) !default;
$link-hover-color-orange: shift-color(
  $link-color-orange,
  -$link-shade-percentage
) !default;
$code-color-orange: tint-color($code-color, 40%) !default;

//
// Forms
//

$form-select-indicator-color-orange: $body-color-orange !default;
$form-select-indicator-orange: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-orange}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;
$form-switch-color-orange: rgba($white, 0.25) !default;
$form-switch-bg-image-orange: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-orange}'/></svg>") !default;

// scss-docs-start form-validation-colors-orange
$form-valid-color-orange: $green-300 !default;
$form-valid-border-color-orange: $green-300 !default;
$form-invalid-color-orange: $red-300 !default;
$form-invalid-border-color-orange: $red-300 !default;

// scss-docs-end form-validation-colors-orange

//
// Accordion
//

$accordion-icon-color-orange: $primary-text-emphasis-orange !default;
$accordion-icon-active-color-orange: $primary-text-emphasis-orange !default;
$accordion-button-icon-orange: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-orange}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon-orange: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-orange}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;

// scss-docs-end sass-orange-mode-vars
