{% extends "layout/main.twig" %}



{% block mainCnt %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center justify-content-center">
                <div style="width: 400px;max-width: 100%;margin-top: 12vh;">
                    <div class="bsa-error-code">403</div>
                    <div class="bsa-error-text">您没有权限访问该页面</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}