{% extends "layout/main.twig" %}

{% block mainCnt %}
<div class="container-fluid">
  <div class="row g-3">
    <div class="col">
      <div class="card border-0 shadow-sm">
        <div class="card-header bg-body">
          修改密码
        </div>
        <div class="card-body">
          dsasda
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}

  <script src="https://cdn.jsdelivr.net/gh/ajiho/formvalidation@main/dist/js/formValidation.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/ajiho/formvalidation@main/dist/js/framework/bootstrap.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/ajiho/formvalidation@main/dist/js/language/zh_CN.js"></script>

{% endblock %}

{% block js %}

{% endblock %}
