.#{$lts-prefix}layout-aside-left {
  .#{$lts-prefix}layout1-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    width: 240px;

    .#{$lts-prefix}chevron-toggle {
      position: absolute;
      top: 40%;
      right: -16px;
      display: flex;
      align-items: center;
      width: 16px;
      height: 60px;
      color: var(--#{$prefix}dark-text-emphasis);
      cursor: pointer;
      background-color: var(--#{$prefix}dark-bg-subtle);

      &::after {
        font-family: bootstrap-icons, serif;
        content: "\f284";

        @include media-breakpoint-down(lg) {
          content: "\F285";
        }
      }

      &:hover {
        color: var(--#{$prefix}light-text-emphasis);
        background-color: var(--#{$prefix}light-bg-subtle);
      }
    }

    @include media-breakpoint-down(lg) {
      // transition: .3s transform;
      @include transition(transform $lts-transition-speed);

      transform: translateX(-101%);
      will-change: transform;

      &.open {
        transform: translateX(0) !important;

        .#{$lts-prefix}chevron-toggle::after {
          font-family: bootstrap-icons, serif;
          content: "\f284";
        }
      }
    }
  }

  .#{$lts-prefix}layout1-right {
    margin-left: 244px;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }
  }

  &.collapsed {
    .#{$lts-prefix}layout1-left {
      transform: translateX(-101%);
    }

    .#{$lts-prefix}layout1-right {
      margin-left: 0;
    }

    .#{$lts-prefix}chevron-toggle::after {
      content: "\F285";
    }
  }
}
