.bsa-back-to-top {
  text-align: center;
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  color: #fff;
  background: #307ef3;
  border: none;
  padding: 7px;
  box-shadow: 0 0 10px #307ef3;
  opacity: 0.5;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    opacity: 1;
  }
}
