.bsa-content {
  position: fixed;
  top: var(--bsa-header-height);
  bottom: var(--bsa-footer-height);
  left: var(--bsa-sidebar-width);
  right: 0;
  overflow: hidden;

  &.fullscreen{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }


  @include media-breakpoint-down(lg) {
    left: 0;
  }
}