.bsa-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: var(--bsa-sidebar-width);
  z-index: 3;
  box-sizing: border-box;
  height: var(--bsa-footer-height);
  padding: 7px;
  font-size: 14px;
  color: var(--#{$prefix}body-color);
  text-align: center;
  // background: var(--bsa-footer-bg);
  background-color: var(--#{$prefix}body-bg);
  border-top: var(--#{$prefix}border-width) solid rgba(0, 0, 0, 0.12);
  //box-shadow: 0 1px 1px -1px rgba(var(--#{$prefix}dark-rgb), 0.25);

  @include media-breakpoint-down(lg) {
    left: 0;
  }
}
