// 遮罩层在lg下才生效
@include media-breakpoint-down(lg) {
  .bsa-mask {
    position: fixed;
    inset: 0;
    z-index: 90;
    cursor: move;
    background-color: rgb(0 0 0 / 60%);
    transition: all 0.2s ease-out;
  }
}
