// 侧边栏
.bsa-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: var(--bsa-sidebar-width);
  background-color: var(--#{$prefix}body-bg);

  // background: var(--bsa-sidebar-bg);
  //border-right: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  // 交给js插件部分来实现
  // transition: 0.3s transform;
  transform: translateX(0);
  will-change: transform;

  @include media-breakpoint-down(lg) {
    box-shadow: none;
    transform: translateX(-101%);
  }

  &.open {
    transform: translateX(0);
  }

  .card-header {
    height: var(--#{$bsa-prefix}header-height);
    box-shadow: 0 1px 1px -1px rgba(var(--#{$prefix}dark-rgb), 0.25);

    .#{$bsa-prefix}logo-text {
      font-size: 18px;
      margin-bottom: 0;
      letter-spacing: 1px;
      color: var(--#{$prefix}body-color);
    }
  }

  .card-body {
    @include navigation;
  }

  .card-footer {
    border-top: none;
    border-top: var(--#{$prefix}border-width) solid rgba(0, 0, 0, 0.12);
    //box-shadow: 0 -1px 1px -1px rgba(var(--#{$prefix}dark-rgb), 0.25);
  }
}
