@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(359deg)
  }
}

.bsa-switcher {
  width: $sidebar-width;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 85;
  background: #fff;
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .13);
  transform: translateX(100%);
  transition: 0.3s transform;
  will-change: transform;

  &.open {
    transform: translateX(0);
  }


  > .bsa-switcher-toggler {

    > i {
      animation: spin 2s linear infinite;
    }

    overflow: hidden;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    background: #348f50;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 50%;
    right: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .bsa-switcher-header {
    height: $header-height;
    background: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4d5259;
    padding: 0 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .bsa-switcher-header-title {
      margin-bottom: 0;
      line-height: 1.5;
    }

  }

  .bsa-switcher-body {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .bsa-headercolor-wrap div[class^=headercolor],.bsa-sidebarcolor-wrap div[class^=sidebarcolor] {
      width: 45px;
      height: 45px;
      background-color: #f4f2f2;
      border-radius: 10px;
      cursor: pointer;
    }

    /*默认白色需要加边框*/
    .bsa-headercolor-wrap div.headercolor0, .bsa-sidebarcolor-wrap div.sidebarcolor0  {
      background-color: #fff;
      border: 1px solid #ccc;
    }

    @each $color in $color-list {
      $index: index($color-list, $color);
      .bsa-headercolor-wrap div.headercolor#{$index} {
        background: $color;
      }
    }

    @each $color in $color-list {
      $index: index($color-list, $color);
      .bsa-sidebarcolor-wrap div.sidebarcolor#{$index} {
        background: $color;
      }
    }
  }

}

