---

---

<!--头部导航-->
<ul class="lts-header">
  <!-- 侧边栏触发按钮(移动端时显示) -->
  <li class="lts-sidebar-toggler" data-lts-toggle="pushmenu">
    <div class="lts-header-item">
      <i class="bi bi-list"></i>
    </div>
  </li>
  <!--  占位(可以让后面的li居右)  -->
  <li class="flex-grow-1"></li>
  <!--  通知(如果有新消息则添加类名.lts-has-msg)  -->
  <li>
    <div
      class="lts-header-item"
      data-qt-target="#qtab"
      data-qt-tab-title="消息通知"
      data-qt-tab-closable="true"
      data-qt-tab-url="message.html"
    >
      <i
        class="bi bi-bell lts-has-msg"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-offset="0,16"
        data-bs-title="消息通知"></i>
    </div>
  </li>

  <!--  拓展菜单(建议把拓展放在此处,以免破坏头部整体布局,不需要可以直接删除)  -->
  <li class="dropdown">
    <div
      class="lts-header-item qee"
      data-bs-toggle="dropdown"
      data-bs-auto-close="outside"
    >
      <i
        class="bi bi-grid"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-offset="0,16"
        data-bs-title="应用中心"></i>
    </div>
    <div class="dropdown-menu dropdown-menu-end p-0">
      <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between bg-body">
          <span class="lts-fs-15">拓展菜单</span>
          <a
            href="javascript:"
            class="lts-fs-13 text-decoration-none text-body-secondary">编辑</a
          >
        </div>
        <div class="card-body" data-lts-toggle="scrollbar">
          <div class="container-fluid">
            <div class="row row-cols-3 g-3">
              <a
                class="col text-decoration-none text-body-secondary d-flex flex-column align-items-center p-2 gap-1"
                href="javascript:"
              >
                <div
                  class="d-flex align-items-center justify-content-center lts-fs-25 bg-body-secondary lts-wh-45 rounded-circle"
                >
                  <i class="bi bi-envelope"></i>
                </div>
                <div class="lts-fs-14 lts-ellipsis-2 text-center">邮箱</div>
              </a>

              <a
                class="col text-decoration-none text-body-secondary d-flex flex-column align-items-center p-2 gap-1"
                href="lockscreen.html"
              >
                <div
                  class="d-flex align-items-center justify-content-center lts-fs-25 bg-body-secondary lts-wh-45 rounded-circle"
                >
                  <i class="bi bi-lock"></i>
                </div>
                <div class="lts-fs-14 lts-ellipsis-2 text-center">锁屏</div>
              </a>

              <a
                class="col text-decoration-none text-body-secondary d-flex flex-column align-items-center p-2 gap-1"
                href="javascript:"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <div
                  class="d-flex align-items-center justify-content-center lts-fs-25 bg-body-secondary lts-wh-45 rounded-circle"
                >
                  <i class="bi bi-link"></i>
                </div>
                <div class="lts-fs-14 lts-ellipsis-2 text-center">前台直达</div>
              </a>

              <a
                class="col text-decoration-none text-body-secondary d-flex flex-column align-items-center p-2 gap-1 btn-modal"
                href="javascript:"
              >
                <div
                  class="d-flex align-items-center justify-content-center lts-fs-25 bg-body-secondary lts-wh-45 rounded-circle"
                >
                  <i class="bi bi-link"></i>
                </div>
                <div class="lts-fs-14 lts-ellipsis-2 text-center">
                  触发modal
                </div>
              </a>

              <a
                class="col text-decoration-none text-body-secondary d-flex flex-column align-items-center p-2 gap-1"
                href="javascript:"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
              >
                <div
                  class="d-flex align-items-center justify-content-center lts-fs-25 bg-body-secondary lts-wh-45 rounded-circle"
                >
                  <i class="bi bi-link"></i>
                </div>
                <div class="lts-fs-14 lts-ellipsis-2 text-center">
                  触发modal2
                </div>
              </a>

              <a
                class="col text-decoration-none text-body-secondary d-flex flex-column align-items-center p-2 gap-1"
                href="javascript:"
                data-qt-target="#qtab"
                data-qt-tab-title="测试页面"
                data-qt-tab-closable="true"
                data-qt-tab-url="test.html"
              >
                <div
                  class="d-flex align-items-center justify-content-center lts-fs-25 bg-body-secondary lts-wh-45 rounded-circle"
                >
                  <i class="bi bi-link"></i>
                </div>
                <div class="lts-fs-14 lts-ellipsis-2 text-center">测试页面</div>
              </a>

              {
                Array.from({ length: 5 }).map((_, index) => (
                  <a
                    class="col text-decoration-none text-body-secondary d-flex flex-column align-items-center p-2 gap-1"
                    href="javascript:"
                  >
                    <div class="d-flex align-items-center justify-content-center lts-fs-25 bg-body-secondary lts-wh-45 rounded-circle">
                      <i class="bi bi-link" />
                    </div>
                    <div class="lts-fs-14 lts-ellipsis-2 text-center">
                      拓展菜单{index}
                    </div>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
        <div class="card-footer text-center bg-body">
          <a
            href="javascript:"
            class="lts-fs-14 text-decoration-none text-body-secondary"
            >查看更多菜单</a
          >
        </div>
      </div>
    </div>
  </li>
  <!--  全屏  -->
  <li>
    <div class="lts-header-item" data-lts-toggle="fullscreen">
      <i
        class="bi bi-arrows-fullscreen"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-offset="0,16"
        data-bs-title="全屏显示"></i>
    </div>
  </li>
  <!--    管理员信息    -->
  <li class="dropdown">
    <div class="lts-header-item" data-bs-toggle="dropdown">
      <div class="lts-user-area">
        <img src="assets/img/avatar.jpg" class="lts-user-avatar" alt="用户头像" />
        <div class="lts-user-details">
          <div class="lts-ellipsis-1 lts-fs-15">欲饮琵琶码上催</div>
          <!-- 管理员角色RBAC权限设计时可用(不需要可删除,上面的用户名可自动垂直居中)  -->
          <div class="lts-ellipsis-1 lts-fs-13 text-muted">超级管理员</div>
        </div>
      </div>
    </div>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <a
          class="dropdown-item"
          href="javascript:"
          data-qt-tab-url="profile.html"
          data-qt-tab-title="个人资料"
          data-qt-tab-closable="true"
          data-qt-target="#qtab"
        >
          <i class="bi bi-person me-2"></i>个人资料
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          href="javascript:"
          data-qt-tab-url="reset-password.html"
          data-qt-tab-title="修改密码"
          data-qt-tab-closable="true"
          data-qt-target="#qtab"
        >
          <i class="bi bi-key me-2"></i>修改密码
        </a>
      </li>
      <li>
        <div class="dropdown-divider"></div>
      </li>
      <li class="lts-logout">
        <a class="dropdown-item" href="javascript:"
          ><i class="bi bi-box-arrow-right me-2"></i>退出登录</a
        >
      </li>
    </ul>
  </li>
</ul>
